body {
    font-family: Arial;
    background-color: khaki;
    touch-action: none;
    overscroll-behavior: none;
}

#main-container {
    overscroll-behavior: none;
    min-height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button{
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    padding: 2px 10px;
    background-color: navy;
    color: white; 
    height: 1.5rem;   
}

button:hover{
    background-color: mediumblue;
}

button:disabled, button:disabled:hover{
    background-color: grey;
    cursor: default;
}